<h1>About Me</h1>
<p>I graduated from the University of Memphis with my bachelors in computer science in 2005.
    I have skills in ruby, python, javascript, html, css, c/++, and java.
    I have worked on dozens of websites over my career and have recieved high reviews from my clients.
    </p>